Hamim Haji.json
[{"id":"27cc9ece.210d72","type":"tab","label":"Hamim","disabled":false,"info":""},{"id":"1bd67703.4b2cc9","type":"comment","z":"27cc9ece.210d72","name":"MySQL: Manage Table haji_users","info":"","x":230,"y":140,"wires":[]},{"id":"d9080599.98ab28","type":"inject","z":"27cc9ece.210d72","name":"MySQL:create table haji_users","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CREATE TABLE haji_users ( id INT NOT NULL AUTO_INCREMENT PRIMARY KEY, userName VARCHAR(150) NOT NULL UNIQUE, email VARCHAR(150) NOT NULL UNIQUE, password VARCHAR(300) NOT NULL, role VARCHAR(150) NOT NULL DEFAULT 'user', timestamp TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP )","payload":"","payloadType":"date","x":230,"y":180,"wires":[["dfe9f82.f674308"]]},{"id":"2fc77bdb.0308b4","type":"inject","z":"27cc9ece.210d72","name":"MySQL:drop table haji_users","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"drop table haji_users","payload":"","payloadType":"date","x":240,"y":220,"wires":[["dfe9f82.f674308"]]},{"id":"fa491019.11e15","type":"inject","z":"27cc9ece.210d72","name":"show data from table haji_users","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"select *, DATE(timestamp) as date from haji_users","payload":"","payloadType":"date","x":230,"y":260,"wires":[["dfe9f82.f674308"]]},{"id":"8be550bd.4abdb","type":"inject","z":"27cc9ece.210d72","name":"MySQL:describe table haji_users","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"describe haji_users","payload":"","payloadType":"date","x":230,"y":300,"wires":[["dfe9f82.f674308"]]},{"id":"293302b2.15c2be","type":"inject","z":"27cc9ece.210d72","name":"MySQL:delete all users in table haji_users","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"delete from haji_users","payload":"","payloadType":"date","x":200,"y":340,"wires":[["dfe9f82.f674308"]]},{"id":"2b35720d.d67f2e","type":"debug","z":"27cc9ece.210d72","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1050,"y":240,"wires":[]},{"id":"b00077d1.d21fa8","type":"mysql","z":"27cc9ece.210d72","mydb":"78d57f85.79592","name":"nexplex","x":860,"y":340,"wires":[["2b35720d.d67f2e"]]},{"id":"6dae230c.1f475c","type":"comment","z":"27cc9ece.210d72","name":"MySQL: Manage Table haji_topics","info":"","x":220,"y":420,"wires":[]},{"id":"b4fb6418.c88b88","type":"inject","z":"27cc9ece.210d72","name":"MySQL:create table haji_topics","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CREATE TABLE haji_topics ( userID INT,deviceID VARCHAR(150) NOT NULL UNIQUE PRIMARY KEY, topics VARCHAR(150) NOT NULL UNIQUE, timestamp TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP, FOREIGN KEY (userID) REFERENCES haji_users(id) )","payload":"","payloadType":"date","x":230,"y":460,"wires":[["238ec54b.f62e8a"]]},{"id":"44f5bbb.3090f44","type":"inject","z":"27cc9ece.210d72","name":"MySQL:drop table haji_topics","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"drop table haji_topics","payload":"","payloadType":"date","x":240,"y":500,"wires":[["238ec54b.f62e8a"]]},{"id":"72354185.9017b","type":"inject","z":"27cc9ece.210d72","name":"show data from table haji_ topics","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"select *, DATE(timestamp) as date from haji_topics","payload":"","payloadType":"date","x":230,"y":540,"wires":[["238ec54b.f62e8a"]]},{"id":"1d1318d7.b56077","type":"inject","z":"27cc9ece.210d72","name":"MySQL:describe table haji_topics","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"describe haji_topics","payload":"","payloadType":"date","x":230,"y":580,"wires":[["238ec54b.f62e8a"]]},{"id":"dfe9f82.f674308","type":"link out","z":"27cc9ece.210d72","name":"","links":["66492619.b554a8"],"x":555,"y":260,"wires":[]},{"id":"66492619.b554a8","type":"link in","z":"27cc9ece.210d72","name":"","links":["dfe9f82.f674308","238ec54b.f62e8a","d8462f39.64e6a"],"x":735,"y":340,"wires":[["b00077d1.d21fa8"]]},{"id":"238ec54b.f62e8a","type":"link out","z":"27cc9ece.210d72","name":"","links":["66492619.b554a8"],"x":475,"y":500,"wires":[]},{"id":"abdd63bf.febbe","type":"inject","z":"27cc9ece.210d72","name":"MySQL:create table haji_data","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CREATE TABLE haji_data ( topicDeviceID INT NOT NULL, DO_val DECIMAL(16,2) DEFAULT '0.00' NOT NULL, TMP_val DECIMAL(16,2) DEFAULT '0.00' NOT NULL,PH_val DECIMAL(16,2) DEFAULT '0.00' NOT NULL,DD_val DECIMAL(16,2) DEFAULT '0.00' NOT NULL,DG_val DECIMAL(16,2) DEFAULT '0.00' NOT NULL, timestamp TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP)","payload":"","payloadType":"date","x":220,"y":700,"wires":[["d8462f39.64e6a"]]},{"id":"16bf11e4.9bd30e","type":"inject","z":"27cc9ece.210d72","name":"MySQL:drop table haji_data","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"drop table haji_data","payload":"","payloadType":"date","x":220,"y":740,"wires":[["d8462f39.64e6a"]]},{"id":"19df314a.605c0f","type":"inject","z":"27cc9ece.210d72","name":"show data from table haji_data","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"select * ,  DATE_FORMAT(timestamp, \"%e/%c/%Y\") from haji_data","payload":"","payloadType":"date","x":210,"y":780,"wires":[["d8462f39.64e6a"]]},{"id":"58b0d2b0.493a8c","type":"inject","z":"27cc9ece.210d72","name":"MySQL:describe table haji_data","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"describe haji_data","payload":"","payloadType":"date","x":210,"y":820,"wires":[["d8462f39.64e6a"]]},{"id":"23bd60c6.8189a","type":"comment","z":"27cc9ece.210d72","name":"MySQL: Manage Table haji_data","info":"","x":210,"y":660,"wires":[]},{"id":"181e0cc7.0ee833","type":"inject","z":"27cc9ece.210d72","name":"show data from table haji_data","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"select * from haji_data where DATE_FORMAT(timestamp, \"%e/%c/%Y\")=\"09/3/2021\"","payload":"","payloadType":"date","x":210,"y":860,"wires":[["d8462f39.64e6a"]]},{"id":"d8462f39.64e6a","type":"link out","z":"27cc9ece.210d72","name":"","links":["66492619.b554a8"],"x":445,"y":760,"wires":[]},{"id":"78d57f85.79592","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"haji","tz":"","charset":""}]